<!-----Groups Page----->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing page</title>
    <!--Bootstrap libraries-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!--customised libraries-->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body style="background-image: url(../images/bkg1.jpg); background-repeat: no-repeat; background-size: 1280px 650px; background-blend-mode: overlay;">

    {{!-- NAVIGATION BAR --}}

<div class="navbar">
<div class="scene">
	<div class="box">
		<div class="front face">
			<i class="lnr lnr-file-add"></i>
		</div>
		<a href="/signup"><div class="right face">
			<p>SIGN-UP</p>
		</div></a>
	</div>
</div>
<div class="scene">
	<div class="box">
		<div class="front face">
			<i class="lnr lnr-enter"></i>
		</div>
		<a href="/login"><div class="right face">
			<p>LOGIN</p>
		</div></a>
	</div>
</div>
</div>


<style>
	p{
		font-size: 12px;
		color: #111;
		text-align: center;
	}

	a:hover{
		color: #111;
	}

	.lnr{
		font-size: 35px;
		padding-left: 17px;
    color: #fcda05;
	}

	.navbar{
        position: fixed;
        top:200px;
		right: 0;
		width: 90px;
		height: 100px;
	}

	.scene{
		width: 90px;
		height: 100px;
	}

	.box{
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transition: all 0.5s ease-out;
		transform-origin: 0 0;
	}

	.scene:hover .box{
		transform: rotateY(-90deg);
		cursor: pointer;
	}

	.face{
		position: absolute;
		width: 100%;
		height: 100%;
		transform-origin: 0 0;
	}

	.front{
		transform: rotateY(0deg);
		background-color: #2a363b;
	}

	.right{
		transform: rotateY(90deg);
		left: 70px;
		background-color: #fcda05;
		color: #111;
		font-size: 0.8rem;
	}
</style>
    <section id="landing">
        <h1 style="font-size: 80px; padding-top: 160px; font-weight: 700;" data-aos="zoom-out-up" data-aos-duration="1500">{{fname}}<br>{{lname}}</h1>
    </section>
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</html>