<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Assessment Form</title>
</head>

<body>

    <h2>Assessment Form: 7th Semester Term Work</h2>

    <form method="POST">

        <div style="display:block; padding:5mm">
            <input type="text" placeholder="Group ID" name="">
        </div>

        <div style="display: block; padding:5mm">
            <h4>
                Rubric:
            </h4>
            <h4>
                CO1: Bleh, CO2: Yikes, CO3: What, CO4: is, CO5: going, CO6: on
            </h4>
        </div>

        <div style="display:block; padding:5mm">
            <input type="text" placeholder="Leader Name" name="">
            <input type="text" placeholder="Roll Number" name="">
            <input type="number" placeholder="CO1 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO2 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO3 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO4 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO5 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO6 Marks" min="0" max="5" name="" style="min-width: 25mm">
        </div>

        <div style="display:block; padding:5mm">
            <input type="text" placeholder="Member 1 Name" name="">
            <input type="text" placeholder="Roll Number" name="">
            <input type="number" placeholder="CO1 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO2 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO3 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO4 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO5 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO6 Marks" min="0" max="5" name="" style="min-width: 25mm">
        </div>
        
        <div style="display:block; padding:5mm">
            <input type="text" placeholder="Member 2 Name" name="">
            <input type="text" placeholder="Roll Number" name="">
            <input type="number" placeholder="CO1 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO2 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO3 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO4 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO5 Marks" min="0" max="5" name="" style="min-width: 25mm">
            <input type="number" placeholder="CO6 Marks" min="0" max="5" name="" style="min-width: 25mm">
        </div>

        <input type="submit" value="Submit">
        
    </form>


</body>

</html>